{"id":"resourcegroupstaggingapi","label":"Resource Groups Tagging","category":"Management & governance","aliases":[],"metadata":{"apiVersion":"2017-01-26","protocol":"json","jsonVersion":"1.1","targetPrefix":"ResourceGroupsTaggingAPI_20170126","endpointPrefix":"tagging","signingName":"tagging","signatureVersion":"v4","serviceFullName":"AWS Resource Groups Tagging API","serviceId":"Resource Groups Tagging API","uid":"resourcegroupstaggingapi-2017-01-26"},"operations":{"DescribeReportCreation":{"name":"DescribeReportCreation","http":{"method":"POST","requestUri":"/"},"input":"DescribeReportCreationInput","output":"DescribeReportCreationOutput","classification":"describe","doc":"Describes the status of the StartReportCreation operation. You can call this operation only from the organization's management account and from the us-east-1 Region."},"GetComplianceSummary":{"name":"GetComplianceSummary","http":{"method":"POST","requestUri":"/"},"input":"GetComplianceSummaryInput","output":"GetComplianceSummaryOutput","classification":"list","doc":"Returns a table that shows counts of resources that are noncompliant with their tag policies. For more information on tag policies, see Tag Policies in the Organizations User Guide. You can call this operation only from the organization's management account and from the us-east-1 Region. This operation supports pagination, where the response can be sent in multiple pages. You should check the…","pagination":{"inputToken":"PaginationToken","outputToken":"PaginationToken","limitKey":"MaxResults","resultKey":"SummaryList"}},"GetResources":{"name":"GetResources","http":{"method":"POST","requestUri":"/"},"input":"GetResourcesInput","output":"GetResourcesOutput","classification":"list","doc":"Returns all the tagged or previously tagged resources that are located in the specified Amazon Web Services Region for the account. Depending on what information you want returned, you can also specify the following: Filters that specify what tags and resource types you want returned. The response includes all tags that are associated with the requested resources. Information about compliance…","pagination":{"inputToken":"PaginationToken","outputToken":"PaginationToken","limitKey":"ResourcesPerPage","resultKey":"ResourceTagMappingList"}},"GetTagKeys":{"name":"GetTagKeys","http":{"method":"POST","requestUri":"/"},"input":"GetTagKeysInput","output":"GetTagKeysOutput","classification":"list","doc":"Returns all tag keys currently in use in the specified Amazon Web Services Region for the calling account. This operation supports pagination, where the response can be sent in multiple pages. You should check the PaginationToken response parameter to determine if there are additional results available to return. Repeat the query, passing the PaginationToken response parameter value as an input…","pagination":{"inputToken":"PaginationToken","outputToken":"PaginationToken","resultKey":"TagKeys"}},"GetTagValues":{"name":"GetTagValues","http":{"method":"POST","requestUri":"/"},"input":"GetTagValuesInput","output":"GetTagValuesOutput","classification":"list","doc":"Returns all tag values for the specified key that are used in the specified Amazon Web Services Region for the calling account. This operation supports pagination, where the response can be sent in multiple pages. You should check the PaginationToken response parameter to determine if there are additional results available to return. Repeat the query, passing the PaginationToken response…","pagination":{"inputToken":"PaginationToken","outputToken":"PaginationToken","resultKey":"TagValues"}},"ListRequiredTags":{"name":"ListRequiredTags","http":{"method":"POST","requestUri":"/"},"input":"ListRequiredTagsInput","output":"ListRequiredTagsOutput","classification":"list","doc":"Lists the required tags for supported resource types in an Amazon Web Services account.","pagination":{"inputToken":"NextToken","outputToken":"NextToken","limitKey":"MaxResults","resultKey":"RequiredTags"}},"StartReportCreation":{"name":"StartReportCreation","http":{"method":"POST","requestUri":"/"},"input":"StartReportCreationInput","output":"StartReportCreationOutput","classification":"create","doc":"Generates a report that lists all tagged resources in the accounts across your organization and tells whether each resource is compliant with the effective tag policy. Compliance data is refreshed daily. The report is generated asynchronously. The generated report is saved to the following location: s3://amzn-s3-demo-bucket/AwsTagPolicies/o-exampleorgid/YYYY-MM-ddTHH:mm:ssZ/report.csv For more…"},"TagResources":{"name":"TagResources","http":{"method":"POST","requestUri":"/"},"input":"TagResourcesInput","output":"TagResourcesOutput","classification":"update","doc":"Applies one or more tags to the specified resources. Note the following: Not all resources can have tags. For a list of services with resources that support tagging using this operation, see Services that support the Resource Groups Tagging API. If the resource doesn't yet support this operation, the resource's service might support tagging using its own API operations. For more information,…"},"UntagResources":{"name":"UntagResources","http":{"method":"POST","requestUri":"/"},"input":"UntagResourcesInput","output":"UntagResourcesOutput","classification":"delete","doc":"Removes the specified tags from the specified resources. When you specify a tag key, the action removes both that key and its associated value. The operation succeeds even if you attempt to remove tags from a resource that were already removed. Note the following: To remove tags from a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions…"}},"shapes":{"AmazonResourceType":{"type":"string","min":0,"max":256,"pattern":"[\\s\\S]*"},"CloudFormationResourceType":{"type":"string"},"CloudFormationResourceTypes":{"type":"list","member":{"shape":"CloudFormationResourceType"}},"ComplianceDetails":{"type":"structure","members":{"NoncompliantKeys":{"shape":"TagKeyList","doc":"These tag keys on the resource are noncompliant with the effective tag policy."},"KeysWithNoncompliantValues":{"shape":"TagKeyList","doc":"These are keys defined in the effective policy that are on the resource with either incorrect case treatment or noncompliant values."},"MissingTagKeys":{"shape":"TagKeyList","doc":"These tag keys are defined as required in the report_required_tag_for block of the effective tag policy, but are missing from the resource."},"ComplianceStatus":{"shape":"ComplianceStatus","doc":"Whether a resource is compliant with the effective tag policy."}},"doc":"Information that shows whether a resource is compliant with the effective tag policy, including details on any noncompliant tag keys."},"ComplianceStatus":{"type":"boolean"},"DescribeReportCreationInput":{"type":"structure","members":{}},"DescribeReportCreationOutput":{"type":"structure","members":{"Status":{"shape":"Status","doc":"Reports the status of the operation. The operation status can be one of the following: RUNNING - Report creation is in progress. SUCCEEDED - Report creation is complete. You can open the report from the Amazon S3 bucket that you specified when you ran StartReportCreation. FAILED - Report creation timed out or the Amazon S3 bucket is not accessible. NO REPORT - No report was generated in the last…"},"S3Location":{"shape":"S3Location","doc":"The path to the Amazon S3 bucket where the report was stored on creation."},"ErrorMessage":{"shape":"ErrorMessage","doc":"Details of the common errors that all operations return."}}},"ErrorCode":{"type":"string","enum":["InternalServiceException","InvalidParameterException"]},"ErrorMessage":{"type":"string"},"ExcludeCompliantResources":{"type":"boolean"},"FailedResourcesMap":{"type":"map","key":{"shape":"ResourceARN"},"value":{"shape":"FailureInfo"}},"FailureInfo":{"type":"structure","members":{"StatusCode":{"shape":"StatusCode","doc":"The HTTP status code of the common error."},"ErrorCode":{"shape":"ErrorCode","doc":"The code of the common error. Valid values include InternalServiceException, InvalidParameterException, and any valid error code returned by the Amazon Web Services service that hosts the resource that you want to tag."},"ErrorMessage":{"shape":"ErrorMessage","doc":"The message of the common error."}},"doc":"Information about the errors that are returned for each failed resource. This information can include InternalServiceException and InvalidParameterException errors. It can also include any valid error code returned by the Amazon Web Services service that hosts the resource that the ARN key represents. The following are common error codes that you might receive from other Amazon Web Services…"},"GetComplianceSummaryInput":{"type":"structure","members":{"TargetIdFilters":{"shape":"TargetIdFilterList","doc":"Specifies target identifiers (usually, specific account IDs) to limit the output by. If you use this parameter, the count of returned noncompliant resources includes only resources with the specified target IDs."},"RegionFilters":{"shape":"RegionFilterList","doc":"Specifies a list of Amazon Web Services Regions to limit the output to. If you use this parameter, the count of returned noncompliant resources includes only resources in the specified Regions."},"ResourceTypeFilters":{"shape":"ResourceTypeFilterList","doc":"Specifies that you want the response to include information for only resources of the specified types. The format of each resource type is service[:resourceType]. For example, specifying a resource type of ec2 returns all Amazon EC2 resources (which includes EC2 instances). Specifying a resource type of ec2:instance returns only EC2 instances. The string for each service name and resource type is…"},"TagKeyFilters":{"shape":"TagKeyFilterList","doc":"Specifies that you want the response to include information for only resources that have tags with the specified tag keys. If you use this parameter, the count of returned noncompliant resources includes only resources that have the specified tag keys."},"GroupBy":{"shape":"GroupBy","doc":"Specifies a list of attributes to group the counts of noncompliant resources by. If supplied, the counts are sorted by those attributes."},"MaxResults":{"shape":"MaxResultsGetComplianceSummary","doc":"Specifies the maximum number of results to be returned in each page. A query can return fewer than this maximum, even if there are more results still to return. You should always check the PaginationToken response value to see if there are more results. You can specify a minimum of 1 and a maximum value of 100."},"PaginationToken":{"shape":"PaginationToken","doc":"Specifies a PaginationToken response value from a previous request to indicate that you want the next page of results. Leave this parameter empty in your initial request."}}},"GetComplianceSummaryOutput":{"type":"structure","members":{"SummaryList":{"shape":"SummaryList","doc":"A table that shows counts of noncompliant resources."},"PaginationToken":{"shape":"PaginationToken","doc":"A string that indicates that there is more data available than this response contains. To receive the next part of the response, specify this response value as the PaginationToken value in the request for the next page."}}},"GetResourcesInput":{"type":"structure","members":{"PaginationToken":{"shape":"PaginationToken","doc":"Specifies a PaginationToken response value from a previous request to indicate that you want the next page of results. Leave this parameter empty in your initial request."},"TagFilters":{"shape":"TagFilterList","doc":"Specifies a list of TagFilters (keys and values) to restrict the output to only those resources that have tags with the specified keys and, if included, the specified values. Each TagFilter must contain a key with values optional. A request can include up to 50 keys, and each key can include up to 20 values. You can't specify both this parameter and the ResourceArnList parameter in the same…"},"ResourcesPerPage":{"shape":"ResourcesPerPage","doc":"Specifies the maximum number of results to be returned in each page. A query can return fewer than this maximum, even if there are more results still to return. You should always check the PaginationToken response value to see if there are more results. You can specify a minimum of 1 and a maximum value of 100."},"TagsPerPage":{"shape":"TagsPerPage","doc":"Amazon Web Services recommends using ResourcesPerPage instead of this parameter. A limit that restricts the number of tags (key and value pairs) returned by GetResources in paginated output. A resource with no tags is counted as having one tag (one key and value pair). GetResources does not split a resource and its associated tags across pages. If the specified TagsPerPage would cause such a…"},"ResourceTypeFilters":{"shape":"ResourceTypeFilterList","doc":"Specifies the resource types that you want included in the response. The format of each resource type is service[:resourceType]. For example, specifying a service of ec2 returns all Amazon EC2 resources (which includes EC2 instances). Specifying a resource type of ec2:instance returns only EC2 instances. You can't specify both this parameter and the ResourceArnList parameter in the same request.…"},"IncludeComplianceDetails":{"shape":"IncludeComplianceDetails","doc":"Specifies whether to include details regarding the compliance with the effective tag policy. Set this to true to determine whether resources are compliant with the tag policy and to get details."},"ExcludeCompliantResources":{"shape":"ExcludeCompliantResources","doc":"Specifies whether to exclude resources that are compliant with the tag policy. Set this to true if you are interested in retrieving information on noncompliant resources only. You can use this parameter only if the IncludeComplianceDetails parameter is also set to true."},"ResourceARNList":{"shape":"ResourceARNListForGet","doc":"Specifies a list of ARNs of resources for which you want to retrieve tag data. You can't specify both this parameter and the ResourceTypeFilters parameter in the same request. If you do, you get an Invalid Parameter exception. You can't specify both this parameter and the TagFilters parameter in the same request. If you do, you get an Invalid Parameter exception. You can't specify both this…"}}},"GetResourcesOutput":{"type":"structure","members":{"PaginationToken":{"shape":"PaginationToken","doc":"A string that indicates that there is more data available than this response contains. To receive the next part of the response, specify this response value as the PaginationToken value in the request for the next page."},"ResourceTagMappingList":{"shape":"ResourceTagMappingList","doc":"A list of resource ARNs and the tags (keys and values) associated with each."}}},"GetTagKeysInput":{"type":"structure","members":{"PaginationToken":{"shape":"PaginationToken","doc":"Specifies a PaginationToken response value from a previous request to indicate that you want the next page of results. Leave this parameter empty in your initial request."}}},"GetTagKeysOutput":{"type":"structure","members":{"PaginationToken":{"shape":"PaginationToken","doc":"A string that indicates that there is more data available than this response contains. To receive the next part of the response, specify this response value as the PaginationToken value in the request for the next page."},"TagKeys":{"shape":"TagKeyList","doc":"A list of all tag keys in the Amazon Web Services account."}}},"GetTagValuesInput":{"type":"structure","required":["Key"],"members":{"PaginationToken":{"shape":"PaginationToken","doc":"Specifies a PaginationToken response value from a previous request to indicate that you want the next page of results. Leave this parameter empty in your initial request."},"Key":{"shape":"TagKey","doc":"Specifies the tag key for which you want to list all existing values that are currently used in the specified Amazon Web Services Region for the calling account."}}},"GetTagValuesOutput":{"type":"structure","members":{"PaginationToken":{"shape":"PaginationToken","doc":"A string that indicates that there is more data available than this response contains. To receive the next part of the response, specify this response value as the PaginationToken value in the request for the next page."},"TagValues":{"shape":"TagValuesOutputList","doc":"A list of all tag values for the specified key currently used in the specified Amazon Web Services Region for the calling account."}}},"GroupBy":{"type":"list","member":{"shape":"GroupByAttribute"}},"GroupByAttribute":{"type":"string","enum":["TARGET_ID","REGION","RESOURCE_TYPE"]},"IncludeComplianceDetails":{"type":"boolean"},"LastUpdated":{"type":"string"},"ListRequiredTagsInput":{"type":"structure","members":{"NextToken":{"shape":"PaginationToken","doc":"A token for requesting another page of required tags if the NextToken response element indicates that more required tags are available. Use the value of the returned NextToken element in your request until the token comes back as null. Pass null if this is the first call."},"MaxResults":{"shape":"MaxResultsForListRequiredTags","doc":"The maximum number of required tags."}}},"ListRequiredTagsOutput":{"type":"structure","members":{"RequiredTags":{"shape":"RequiredTagsForListRequiredTags","doc":"The required tags."},"NextToken":{"shape":"PaginationToken","doc":"A token for requesting another page of required tags if the NextToken response element indicates that more required tags are available. Use the value of the returned NextToken element in your request until the token comes back as null. Pass null if this is the first call."}}},"MaxResultsForListRequiredTags":{"type":"integer","min":1,"max":200},"MaxResultsGetComplianceSummary":{"type":"integer","min":1,"max":1000},"NonCompliantResources":{"type":"long"},"PaginationToken":{"type":"string","min":0,"max":2048,"pattern":"[\\s\\S]*"},"Region":{"type":"string","min":1,"max":256,"pattern":"[\\s\\S]*"},"RegionFilterList":{"type":"list","member":{"shape":"Region"},"min":1,"max":100},"ReportingTagKeys":{"type":"list","member":{"shape":"TagKey"}},"RequiredTag":{"type":"structure","members":{"ResourceType":{"shape":"ResourceType","doc":"Describes the resource type for the required tag keys."},"CloudFormationResourceTypes":{"shape":"CloudFormationResourceTypes","doc":"Describes the CloudFormation resource type assigned the required tag keys."},"ReportingTagKeys":{"shape":"ReportingTagKeys","doc":"These tag keys are marked as required in the report_required_tag_for block of the effective tag policy."}},"doc":"Information that describes the required tags for a given resource type."},"RequiredTagsForListRequiredTags":{"type":"list","member":{"shape":"RequiredTag"}},"ResourceARN":{"type":"string","min":1,"max":1011,"pattern":"[\\s\\S]*"},"ResourceARNListForGet":{"type":"list","member":{"shape":"ResourceARN"},"min":1,"max":100},"ResourceARNListForTagUntag":{"type":"list","member":{"shape":"ResourceARN"},"min":1,"max":20},"ResourceTagMapping":{"type":"structure","members":{"ResourceARN":{"shape":"ResourceARN","doc":"The ARN of the resource."},"Tags":{"shape":"TagList","doc":"The tags that have been applied to one or more Amazon Web Services resources."},"ComplianceDetails":{"shape":"ComplianceDetails","doc":"Information that shows whether a resource is compliant with the effective tag policy, including details on any noncompliant tag keys."}},"doc":"A list of resource ARNs and the tags (keys and values) that are associated with each."},"ResourceTagMappingList":{"type":"list","member":{"shape":"ResourceTagMapping"}},"ResourceType":{"type":"string"},"ResourceTypeFilterList":{"type":"list","member":{"shape":"AmazonResourceType"}},"ResourcesPerPage":{"type":"integer"},"S3Bucket":{"type":"string","min":3,"max":63,"pattern":"[a-z0-9.-]*"},"S3Location":{"type":"string"},"StartReportCreationInput":{"type":"structure","required":["S3Bucket"],"members":{"S3Bucket":{"shape":"S3Bucket","doc":"The name of the Amazon S3 bucket where the report will be stored; for example: amzn-s3-demo-bucket For more information on S3 bucket requirements, including an example bucket policy, see the example Amazon S3 bucket policy on this page."}}},"StartReportCreationOutput":{"type":"structure","members":{}},"Status":{"type":"string"},"StatusCode":{"type":"integer"},"Summary":{"type":"structure","members":{"LastUpdated":{"shape":"LastUpdated","doc":"The timestamp that shows when this summary was generated in this Region."},"TargetId":{"shape":"TargetId","doc":"The account identifier or the root identifier of the organization. If you don't know the root ID, you can call the Organizations ListRoots API."},"TargetIdType":{"shape":"TargetIdType","doc":"Whether the target is an account, an OU, or the organization root."},"Region":{"shape":"Region","doc":"The Amazon Web Services Region that the summary applies to."},"ResourceType":{"shape":"AmazonResourceType","doc":"The Amazon Web Services resource type."},"NonCompliantResources":{"shape":"NonCompliantResources","doc":"The count of noncompliant resources."}},"doc":"A count of noncompliant resources."},"SummaryList":{"type":"list","member":{"shape":"Summary"}},"Tag":{"type":"structure","required":["Key","Value"],"members":{"Key":{"shape":"TagKey","doc":"One part of a key-value pair that makes up a tag. A key is a general label that acts like a category for more specific tag values."},"Value":{"shape":"TagValue","doc":"One part of a key-value pair that make up a tag. A value acts as a descriptor within a tag category (key). The value can be empty or null."}},"doc":"The metadata that you apply to Amazon Web Services resources to help you categorize and organize them. Each tag consists of a key and a value, both of which you define. For more information, see Tagging Amazon Web Services Resources in the Amazon Web Services General Reference."},"TagFilter":{"type":"structure","members":{"Key":{"shape":"TagKey","doc":"One part of a key-value pair that makes up a tag. A key is a general label that acts like a category for more specific tag values."},"Values":{"shape":"TagValueList","doc":"One part of a key-value pair that make up a tag. A value acts as a descriptor within a tag category (key). The value can be empty or null."}},"doc":"A list of tags (keys and values) that are used to specify the associated resources."},"TagFilterList":{"type":"list","member":{"shape":"TagFilter"},"min":0,"max":50},"TagKey":{"type":"string","min":1,"max":128,"pattern":"[\\s\\S]*"},"TagKeyFilterList":{"type":"list","member":{"shape":"TagKey"},"min":1,"max":50},"TagKeyList":{"type":"list","member":{"shape":"TagKey"}},"TagKeyListForUntag":{"type":"list","member":{"shape":"TagKey"},"min":1,"max":50},"TagList":{"type":"list","member":{"shape":"Tag"}},"TagMap":{"type":"map","key":{"shape":"TagKey"},"value":{"shape":"TagValue"},"min":1,"max":50},"TagResourcesInput":{"type":"structure","required":["ResourceARNList","Tags"],"members":{"ResourceARNList":{"shape":"ResourceARNListForTagUntag","doc":"Specifies the list of ARNs of the resources that you want to apply tags to. An ARN (Amazon Resource Name) uniquely identifies a resource. For more information, see Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces in the Amazon Web Services General Reference."},"Tags":{"shape":"TagMap","doc":"Specifies a list of tags that you want to add to the specified resources. A tag consists of a key and a value that you define."}}},"TagResourcesOutput":{"type":"structure","members":{"FailedResourcesMap":{"shape":"FailedResourcesMap","doc":"A map containing a key-value pair for each failed item that couldn't be tagged. The key is the ARN of the failed resource. The value is a FailureInfo object that contains an error code, a status code, and an error message. If there are no errors, the FailedResourcesMap is empty."}}},"TagValue":{"type":"string","min":0,"max":256,"pattern":"[\\s\\S]*"},"TagValueList":{"type":"list","member":{"shape":"TagValue"},"min":0,"max":20},"TagValuesOutputList":{"type":"list","member":{"shape":"TagValue"}},"TagsPerPage":{"type":"integer"},"TargetId":{"type":"string","min":6,"max":68,"pattern":"[a-zA-Z0-9-]*"},"TargetIdFilterList":{"type":"list","member":{"shape":"TargetId"},"min":1,"max":100},"TargetIdType":{"type":"string","enum":["ACCOUNT","OU","ROOT"]},"UntagResourcesInput":{"type":"structure","required":["ResourceARNList","TagKeys"],"members":{"ResourceARNList":{"shape":"ResourceARNListForTagUntag","doc":"Specifies a list of ARNs of the resources that you want to remove tags from. An ARN (Amazon Resource Name) uniquely identifies a resource. For more information, see Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces in the Amazon Web Services General Reference."},"TagKeys":{"shape":"TagKeyListForUntag","doc":"Specifies a list of tag keys that you want to remove from the specified resources."}}},"UntagResourcesOutput":{"type":"structure","members":{"FailedResourcesMap":{"shape":"FailedResourcesMap","doc":"A map containing a key-value pair for each failed item that couldn't be untagged. The key is the ARN of the failed resource. The value is a FailureInfo object that contains an error code, a status code, and an error message. If there are no errors, the FailedResourcesMap is empty."}}}}}
